extends includes/layout

block content
  article.post
    h1.post__title= page.title
    .post__meta
      if page.categories.length
        .post__meta__categories
          - page.categories.each(function(category) {
              a.post__meta__categories__item(href=url_for(category.path))= category.name
          - })
      time.post__meta__time(datetime=date_xml(page.date))= full_date(page.date, 'MMMM Do YYYY, h:mm:ss a')
    if page.photos.length
      img.post__image(src="#{page.photos[0]}" alt="Post Image")
    
    != page.content
    
    //- Below lines are for disqus.
    if theme.disqus
      #disqus_thread
      script.
        (function() {
          var d = document, s = d.createElement('script');
          s.src = '//#{theme.disqus}.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      noscript Enable JavaScript to see comments. 
  include includes/article-nav
