.card
  .profile
    img.profile__image(
      src=theme.profile.image
      alt=theme.profile.author
      title=theme.profile.author)
    .profile__meta
      a.profile__meta__author(
        href=theme.profile.link
        rel="author"
        title="About #{theme.profile.author}"
      )= theme.profile.author
      p.profile__meta__description= theme.profile.description
    .profile__social-links
      each url, label in theme.profile.social
        a.profile__social-links__item(
          href=url
          title="#{label} social link"
          target="_blank")
          i(class="fa fa-#{label}")
