.card
  .profile
    a.profile__image(
      href=theme.profile.link
      rel="author")
      img(
        src=theme.profile.image
        alt=theme.profile.author
        title=theme.profile.author)
    .profile__meta
      a.profile__meta__author(
        href=theme.profile.link
        rel="author"
        title="About #{theme.profile.author}"
      )= theme.profile.author
      span.profile__meta__description= theme.profile.description
