article#article.article(itemscope itemtype="https://schema.org/BlogPosting")
  h1.article__title(itemprop="headline")= page.title || 'Untitled'
  .article__meta
    time.article__meta__time(
      datetime=date_xml(page.date)
      itemprop="datePublished"
    )= full_date(page.date)
    if page.categories && page.categories.length
      .article__meta__categories
        each category, index in page.categories.data
          a.article__meta__categories__item(
            href=url_for(category.path)
          )= category.name
          unless index === page.categories.length - 1
            span.article__meta__categories__separator >
  if page.banner && page.banner.url
    img.article__image(
      src=page.banner.url
      alt="Post Image")
  else if page.photos && page.photos.length
    each photo in page.photos
      img.article__image(
        src=photo
        alt="Gallery Image")
  else
    hr
  
  .article__contents
    != page.content
  
  if page.tags && page.tags.length
    .article__tags
     - page.tags.each(function(tag) {
         a.article__tags__item(href=url_for(tag.path))= tag.name
     - })

  - var profileImageSrc = theme.profile.image || gravatar(theme.profile.gravatar || '');
  .article__author(
    itemscope
    itemprop="author"
    itemtype="https://schema.org/Person")
    img.article__author__image(
      src=profileImageSrc
      alt=config.author)
    a.article__author__link(
      href=theme.profile.link
      title="About #{config.author}"
      rel="author"
    )= config.author
    p.article__author__desc= theme.profile.description || config.description
    .article__author__socials
      each url, label in theme.profile.social
        if url
          a.article__author__socials__item(
            href=url
            title="#{label}"
            target="_blank")
            i(class="fa fa-#{label}")
    meta(itemprop="name" content="#{config.author}")
  
  include sharer
    
  // Disqus Code
  if config.disqus_shortname
    #disqus_thread
    script.
      (function() {
        var d = document, s = d.createElement('script');
        s.src = '//#{config.disqus_shortname}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    noscript Enable JavaScript to see comments.
    
  // Meta Tags for Structured Data
  - var truncOptions = { length: 200, separator: ' ' };
  - var banner = page.banner || theme.default;
  meta(itemprop="dateModified" content="#{date_xml(page.updated)}")
  meta(itemprop="articleBody" content="#{truncate(strip_html(page.content), truncOptions)}")
  meta(itemprop="url" content="#{config.url + '/' + page.path}")
  meta(itemprop="mainEntityOfPage" content="#{config.url + '/' + page.path}")
  div(itemscope itemtype="https://schema.org/Organization" itemprop="publisher")
    meta(itemprop="name" content="#{config.title}")
    div(itemscope itemprop="logo" itemtype="https://schema.org/ImageObject")
      meta(itemprop="url" content="#{config.url + theme.favicon}")
  div(itemscope itemtype="https://schema.org/ImageObject" itemprop="image")
    meta(itemprop="contentUrl" content="#{config.url + banner.url}")
    meta(itemprop="url" content="#{config.url + banner.url}")
    meta(itemprop="width" content=banner.width)
    meta(itemprop="height" content=banner.height)
    
