- var pageTitle = page.title || config.subtitle || '';
- if (is_archive()) pageTitle = 'Archives';
- if (is_tag()) pageTitle = 'Tag: ' + page.tag;
- if (is_category()) pageTitle = 'Category: ' + page.category;
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
- if (is_year()) pageTitle += ': ' + page.year;
- pageTitle = pageTitle ? pageTitle += ' | ' + config.title : config.title;
- var banner = page.banner ? page.banner.url : (page.photos ? page.photos[0] : theme.default.url);
-
  var openGraph = open_graph({
    description: page.content || config.description || theme.profile.description,
    image: banner,
    fb_app_id: theme.facebook,
    fb_admins: theme.fb_admin,
    twitter_id: theme.twitter,
    google_plus: theme.google_plus
  });

meta(charset='UTF-8')
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

title= pageTitle

if theme.font === 'spoqa-han-sans-kr'
  link(rel="stylesheet" href="/vendor/spoqa-han-sans/css/SpoqaHanSans-kr.css")
else if theme.font === 'spoqa-han-sans-jp'
  link(rel="stylesheet" href="/vendor/spoqa-han-sans/css/SpoqaHanSans-jp.css")
else if theme.font === 'noto-sans-kr'
  link(rel="stylesheet" href="/vendor/noto-sans-kr/styles.css")
  
if theme.font
  link(rel="stylesheet" href="/css/font.css")
  
link(rel="stylesheet" href="/vendor/normalize.min.css")
link(rel="stylesheet" href="/vendor/font-awesome-4.6.3/css/font-awesome.min.css")
link(rel="stylesheet" href="/css/index.css")

| !{ canonical(config, page) }
| !{ openGraph }

if theme.favicon
  link(rel="icon" href=theme.favicon)
if theme.profile.social.rss
  link(rel="alternative" href=theme.profile.social.rss type="application/atom+xml" title=config.title)

if theme.google_site_verification
  meta(name="google-site-verification" content="#{theme.google_site_verification}")
if theme.naver_site_verification
  meta(name="naver-site-verification" content="#{theme.naver_site_verification}")
