-
  function equalPath(target, current) {
    var _target = target.slice(1, target.length);
    var _current = current.replace(/\/?index.html/, '');
    return _target === _current;
  }

nav#menu.menu
  .menu-inner
    .menu__left-area
      .menu__item
        a.menu__item__link.menu__item__link--brand(
          href="/"
          title="Home"
          rel="home")
          img.menu__item__link--brand__image(
            src=theme.favicon
            alt=config.title)
          span.menu__item__link--brand__label= config.title
    .menu__right-area
      each url, label in theme.menu
        .menu__item(class=equalPath(url, page.path) ? 'menu__item--active' : '')
          a.menu__item__link(href=url)= label
