ul.menu#menu
  .menu-inner
    .menu__left-area
      li.menu__item
        a.menu__item__link--brand(
          href="/"
          title="Home"
          rel="home")
          img.menu__item__link--brand__image(src=theme.favicon alt=config.title)
          span.menu__item__link--brand__label #{config.title}
    .menu__right-area
      each url, label in theme.menu
        li.menu__item
          a.menu__item__link(href=url)= label
