- var truncOptions = { length: 150, separator: ' ' };
-
  function getPostList() {
    var perPage = page.per_page || config.per_page;
    var skips = perPage * (page.current - 1);
    if (is_home()) {
      return site.posts
        .sort('date', -1)
        .skip(skips)
        .limit(perPage)
        .toArray();
    } else {
      return page.posts
        .limit(perPage)
        .toArray();
    }
  }
-
  var decodeHtmlEntity = function(str) {
    return str.replace(/&#x(\w+);/g, function(match, hex) {
      return String.fromCharCode(parseInt(hex, 16));
    });
  };

section.post-list
  if !is_home()
    header
      if is_archive()
        if page.month
          h2 Archives: #{page.month}/#{page.year}
        else if page.year
          h2 Archives: #{page.year}
        else
          h2 Archives
      else if is_tag()
        h2 Tag: #{page.tag}
      else if is_category()
        h2 Category: #{page.category}
    hr
      
  each post in getPostList()
    article.post-list__item
      .post-list__item__col-1
        a.post-list__item__link(href=url_for(post.path))
          - var banner = bannerOf(post) || theme.default.url;
          .post-list__item__link__background(style="background-image: url('#{ banner }')")
      .post-list__item__col-2
        .post-list__item__meta
          if post.categories && post.categories.length
            each category, index in post.categories.data
              a.post-list__item__meta__link(
                href=url_for(category.path)
              )= category.name
              unless index === post.categories.data.length - 1 
                span.post-list__item__meta__label >
            
        h3.post-list__item__title
          if post.link
            a(
              href=post.link
              title=post.link
              target="_blank"
            )= post.link
          else
            a(
              href=url_for(post.path)
              title=post.title || 'Untitled'
            )= post.title || 'Untitled'
        p.post-list__item__description= truncate(strip_html(decodeHtmlEntity(post.excerpt || post.content)), truncOptions)
